.kanna{
	background-color: red;
	width: 100px;
	height: 100px;
	animation-name: kanna;
	animation-duration: 2s;
	position: absolute;
}
@keyframes kanna{
	
	0%{
		left: 0px;
		
	}
	25%{
		left: 200px;
	}
	50%{
		top: 100px;
	}
	75%{
         top-left: 200px;
	}
}
 